/Thesis/document/Strona tytulowa MAGISTERSKA polska 2013-1.doc
/Thesis/document/master-thesis-polish.aux
/Thesis/document/master-thesis-polish.bbl
/Thesis/document/master-thesis-polish.blg
/Thesis/document/master-thesis-polish.loa
/Thesis/document/master-thesis-polish.lof
/Thesis/document/master-thesis-polish.log
/Thesis/document/master-thesis-polish.lot
/Thesis/document/master-thesis-polish.pdf
/Thesis/document/master-thesis-polish.toc
/Thesis/document/master-thesis-polish.tps
/Thesis/document/mgr_titlepage.aux
/Thesis/document/mgr_titlepage.log
/Thesis/document/phd_titlepage.tex
/Thesis/document/*.aux
/Thesis/document/lacheckw32.exe
/other-framework-tests/JsonRpc4jTestSE/nbproject/private/
/other-framework-tests/JsonRpc4jTestSE/build/
/other-framework-tests/JsonRpc4jTest/bin
/other-framework-tests/LibraryForTranslation/bin
/other-framework-tests/XamarinRemotingTest/XamarinRemotingTest/bin
/other-framework-tests/XamarinRemotingTest/XamarinRemotingTest/obj
/other-framework-tests/JsonRpc4jTest/gen
/other-framework-tests/JsonRpc4jTest/libs
/other-framework-tests/JsonRpc4jTestSE/libs
/other-framework-tests/UnifiedSerialization/UniSerialJava/nbproject/private/
/other-framework-tests/UnifiedSerialization/UniSerialJava/build/
/Thesis/magisterka LaTeX szablon
/other-framework-tests/UnifiedSerialization/UniSerialDotNet/packages
/other-framework-tests/UnifiedSerialization/UniSerialDotNet/UniSerialDotNet/obj
/other-framework-tests/UnifiedSerialization/UniSerialDotNet/UniSerialDotNet/bin
/other-framework-tests/UnifiedSerialization/UniSerialJavaGson/nbproject/private/
/other-framework-tests/UnifiedSerialization/UniSerialJavaGson/build/
/other-framework-tests/UnifiedSerialization/UniSerialJavaGson/libs
/other-framework-tests/JsonRpc4jTestSE/dist/
Newtonsoft.Json.6.0.6
/other-framework-tests/JsonRpcClientDotNet/*.suo
/other-framework-tests/JsonRpcClientDotNet/JsonRpcClientDotNet/bin
/other-framework-tests/JsonRpcClientDotNet/JsonRpcClientDotNet/obj
